<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spotleft</title>
    <div th:replace="fragments/header :: head">Header</div>
  </head>
<body>
  <div th:replace="fragments/header :: header">Header</div>
  <div th:class="container">
    <h1><i class="fab fa-aws"></i> AWS Instances</h1>

    <form th:action="@{/instances/notify}" th:method="post">
      <input class="btn btn-success m-1 float-right fab" type="submit" value="&#xf198; Notify" />
    </form>
    <table id="spotleft-table" class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Deployment</th>
          <th scope="col">InstanceId</th>
          <th scope="col">Type</th>
          <th scope="col">State</th>
          <th scope="col">LaunchTime</th>
          <th scope="col">Lifecycle</th>
          <th scope="col">RequireSpot</th>
          <th scope="col">Saved</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tr th:each="i, iStat : ${instances}" scope="row">
        <td th:text="${i.getName()}"/>
        <td th:text="${i.getDeployment()}"/>
        <td th:text="${i.getInstanceId()}"/>
        <td th:text="${i.getType()}"/>
        <td th:text="${i.getState()}"/>
        <td th:text="${i.getLaunchTime()}"/>
        <td th:text="${i.getLifecycle()}"/>
        <td th:text="${i.getRequireSpot()}"/>
        <td th:text="${i.getIsSaved()}"/>
        <td>
          <div th:switch="${i.getIsSaved()}">
            <form th:case=false th:action="@{/saved(name=${i.getName()},deployment=${i.getDeployment()},requireSpot=${i.getRequireSpot()})}" th:method="post">
              <input class="btn btn-primary far" type="submit" value="&#xf0c7; Save" />
            </form>
            <a th:case=true class="btn btn-primary" th:href="@{'/saved/'+${i.getSavedId()}+'/edit'}">
              <i class="fas fa-edit"></i> Update
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer">&copy; Footer</div>
</body>
</html>