<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spotleft - Saved Instances</title>
    <div th:replace="fragments/header :: head">Header</div>
  </head>
<body>
  <div th:replace="fragments/header :: header">Header</div>
    <h1>Spotleft - Saved Instances Info</h1>

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">SavedId</th>
          <th scope="col">Name</th>
          <th scope="col">Deployment</th>
          <th scope="col">RequireSpot</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tr th:each="i, iStat : ${savedInstances}" scope="row">
        <td th:text="${i.getId()}"/>
        <td th:text="${i.getName()}"/>
        <td th:text="${i.getDeployment()}"/>
        <td th:text="${i.getRequireSpot()}"/>
        <td>
          <a class="btn btn-primary" th:href="@{'/saved/'+${i.getId()}+'/edit'}">Edit</a>
          <form th:action="@{'/saved/'+${i.getId()}}" th:method="delete">
            <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete?')"/>
          </form>
    </td>
      </tr>
    </table>
    <a class="btn btn-success" th:href="@{/saved/new}">New</a>

  <p th:text="${msg}" />
  <div th:replace="fragments/footer :: footer">&copy; Footer</div>
</body>
</html>